{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2>Service World</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <a style="text-decoration: none;" href="{% url 'firstPage' %}">Logout
        </button></a>
      </form>
    </div>
  </nav>
{% endblock %}
{% block name %}
    <center><h2>Profile</h2></center>
{% endblock %}
{% block body %}
<img style="border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 150px;display: block;margin-left: auto;margin-right: auto;" src="{{ member.image.url }}" alt="Image">
<a href="{% url 'edit' %}"><button class="btn btn-primary form-control"><span class="glyphicon glyphicon-log-in"></span> Edit</button></a>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">{{member.id}}</th>
    </tr>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">{{member.username}}</th>
    </tr>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">{{member.firstname}}</th>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">{{member.lastname}}</th>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">{{member.email}}</th>
    </tr>
    <tr>
      <th scope="col">Password</th>
      <th scope="col">{{member.password}}</th>
    </tr>
  </thead>
  </tbody>
</table>


{% endblock %}