{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2>Service World</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a style="text-decoration: none;" href="{% url 'login' %}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <a style="text-decoration: none;" href="{% url 'login' %}">Logout
        </button></a>
      </form>
    </div>
  </nav>
{% endblock %}
{% block name %}
    <center><h2>Connect Request</h2></center>
{% endblock %}
{% block body %}
{% for mes in m %}
    {% if mes.pid == pmember.id %}
      <div><h4>You have connect request. </h4>
        <form action="{% url 'providerAccept' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="accept" value="{{mes.mid}}">Accept</button>
        </form></div>
    {% endif %}
{% endfor %}


{% endblock %}